<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nott.fs.mapper.PlayerDataMapper">

    <resultMap id="playerResultMap" type="com.nott.fs.entity.PlayerData">
        <id property="UUID" column="uuid" />
        <result property="exp" column="exp"/>
        <result property="health" column="health"/>
        <result property="displayName" column="display_name"/>
        <result property="level" column="level"/>
        <result property="foodLevel" column="food_level"/>
        <result property="items" column="items"/>
        <result property="expToLevel" column="exp_to_level"/>
        <result property="armorItems" column="armor_items"/>
        <result property="extraItems" column="extra_items"/>
    </resultMap>

    <!-- 插入玩家数据 -->
    <insert id="insertPlayerData" parameterType="com.nott.fs.entity.PlayerData">
        INSERT INTO sys_player_data (uuid, display_name, health,exp,level,food_level,items,exp_to_level,armor_items,extra_items)
        VALUES (#{UUID}, #{displayName}, #{health}, #{exp},#{level},#{foodLevel},#{items},#{expToLevel},#{armorItems},#{extraItems})
    </insert>

    <!-- 更新玩家数据 -->
    <update id="updatePlayerByUUID" parameterType="com.nott.fs.entity.PlayerData">
        UPDATE sys_player_data
        <trim prefix="set" suffixOverrides=",">
            <if test="#{displayName} != null">
                display_name = #{displayName},
            </if>
            <if test="#{health} != null">
                health = #{health},
            </if>
            <if test="#{exp} != null">
                exp = #{exp},
            </if>
            <if test="#{level} != null">
                level = #{level},
            </if>
            <if test="#{foodLevel} != null">
                food_level = #{foodLevel},
            </if>
            <if test="#{items} != null">
                items = #{items},
            </if>
            <if test="#{expToLevel} != null">
                exp_to_level = #{expToLevel},
            </if>
            <if test="#{armorItems} != null">
                armor_items = #{armorItems},
            </if>
            <if test="#{extraItems} != null">
                extra_items = #{extraItems},
            </if>
        </trim>
        WHERE uuid = #{UUID}
    </update>

    <!-- 删除玩家数据 -->
    <delete id="deletePlayer" parameterType="java.lang.String">
        DELETE FROM sys_player_data WHERE uuid = #{uuid}
    </delete>

    <!-- 查询玩家数据 -->
    <select id="getPlayerDataByUUID" parameterType="java.lang.String" resultMap="playerResultMap">
        SELECT * FROM sys_player_data WHERE uuid = #{uuid}
    </select>

</mapper>
